{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}

<div class="text-center">
    <h1>Impressum</h1>
    Betreiber und Kontakt:<br />
    Marcel René Flegel<br /><br />
    Römerstraße 79 <br />
    44579 Castrop-Rauxel<br /><br />
    Telefonnummer: 01577123654<br />
    E-Mail-Adresse: marcel.flegel@5minds.de<p>
    <hr>
    Betreiber und Kontakt:<br />
    Bastian Korn<br /><br />
    Kernbrink #<br />
    445## Castrop-Rauxel<br /><br />
    Telefonnummer: ###########<br />
    E-Mail-Adresse: bastian.korn@5minds.de<p>
</div>


{% endblock %}