{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class="errorlogin">
        {% if check is not defined %}
            <div id="login">Register</div>
        {% endif %}

        {% if check == 0 %}
            E-Mail already exists
        {% endif %}

        {% if check == 1 %}
            Please type your E-Mail and password
        {% endif %}

        {% if check == 2 %}
            Provide username
        {% endif %}

        {% if check == 3 %}
            Provide E-Mail
        {% endif %}

        {% if check == 4 %}
            Provide password
        {% endif %}

        {% if check == 5 %}
            Password doesn't match
        {% endif %}

        {% if check == 6 %}
            Password too short
        {% endif %}
    </div>

    <form action="/register" method="post">
        <div class="form-row">
            <div class="form-group col-md-3 mx-auto">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="E-Mail" type="email"/>
            </div>

            <div class="form-group col-md-3 mx-auto">
                <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text"/>
            </div>

            <div class="form-group col-md-3 mx-auto">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>

            <div class="form-group col-md-3 mx-auto">
                <input class="form-control" name="passwordagain" placeholder="Confirm Password" type="password"/>
            </div>

            <button class="btn btn-secondary ownbtn" type="submit">Submit</button>
        </div>
    </form>

{% endblock %}